{% extends 'base.html' %}
{% load static %}
{% block content %}
<div style="background-color:Yellow;">
    {% for s in snake %}
    <div style="background-color:GreenYellow;color:Chocolate;width:325px;height:325px;">
    <h1 style="background-color:Orange;">{{s.name}}</h1>
    <img style="width:200px;height:100px;" src="{{s.image.url}}">
    <h2 style="color:Chocolate;">{{s.species}}</h2>
    <h2 style="color:Black;">{{s.cost}}</h2>
    <h1 style="color:Red;">{{s.poison}}</h1>
    </div>
    {% endfor %}
</div>
{% endblock %}